@media screen and (max-width: 576px) {
  /* nav bar section responsive */
  nav ,.manue, .banner, .sponsore-img  ,.popular-collection-card-info-1,.popular-collection-card-info-2,.popular-collection-card-info-3{
    flex-direction: column;
    margin: 5px;
    padding: 10px;
 
  }
  nav h2{
    font-weight: 700;
    text-align: center;
    color: var(--primary-color);
  }
  /* banner section  */
  .banner{
    text-align: center;
    margin: 0;
    padding: 5px;
    width: 100%;
    gap: 20px;
  }
  .banner-title{
    font-size: 2.5rem;
  }
  .banner-title,.banner-dris,.banner-button{
    text-align: center;
    margin: 0;
    padding: 10px;
  }
  .img-area img{
    width: 90%;
    margin-top: 30px;
  }
  /* banner section end  */

  /* sponser section start */
  /* sponsore section end  */

/* popular section */
  
.popular-collection-card-info-1,.popular-collection-card-info-2,.popular-collection-card-info-3{
    width: 100%;
}  
}