@media screen and (min-width: 577px) and (max-width: 992px) {
  /* nav var section responsive */
 
  nav ,.manue ,.banner ,.sponsore-img ,.popular-collection-card-info-1,.popular-collection-card-info-2,.popular-collection-card-info-3 ,#featured-section{
    flex-direction: column;
    margin: 5px;
    padding: 10px;
  }
  nav h2{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: var(--primary-color);
  }
  /* banner area section */
  .banner{
    text-align: center;
    margin: 0;
    padding: 5px;
    width: 100%;
    gap: 20px;
  }
  .banner-title{
    font-size: 2.5rem;
  }
  .banner-title,.banner-dris,.banner-button{
    text-align: center;
    margin: 0;
    padding: 10px;
    
    
  }
  /* banner section end  */

  /* sponser section start */
  .sponsore-img{
    width: 90%;
    gap: 50px;
  }
  /* sponsore section end  */
  /* popular section */
/* featured section */
#featured-section{
    margin-top: 70px;
}
.featurd-text{
    text-align: center;
}
.featurd-img img{
    width: 100%;
}


}